@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/Bebas.woff2') format('woff2'),
    url('../fonts/bebas/Bebas.woff') format('woff'),
    url('../fonts/bebas/Bebas.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/HelveticaNeue.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeue.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Bebas', sans-serif;
  color: #b9b9b9;
  font-size: 16px;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ======================HEADER===================== */

.header__top {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn:before {
  content: "\f039";
  font-family: 'icomoon';
  color: #e8663c;
  font-size: 24px;
  padding-top: 15px;
  padding-right: 15px;
  display: none;
}

.header__logo a {
  font-size: 36px;
  color: #f3af9d;
}

.header__logo span {
  color: #e8603c;
}

.header__nav {
  padding-top: 15px;
}

.header__nav li {
  display: inline-block;
}

.header__nav li+li {
  margin-left: 28px;
}

.header__nav a {
  color: #b9b9b9;
  transition: all .3s linear;
}

.header__nav a:hover,
.header__nav .active {
  color: #e8663c;
}

/* ======================SLIDER===================== */

.slider:before,
.slider:after {
  content: "";
  position: absolute;
  top: 78px;
  width: calc(50% - 480px);
  height: 60px;
  background-color: #f2ae9c;
}

.slider:before {
  left: 0;
}

.slider:after {
  right: 0;
}

.slider__content {
  margin-bottom: 20px;
}

.slider__img {
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.slider__block {
  max-width: 415px;
  background-color: rgba(232, 102, 60, .8);
  position: absolute;
  left: 35px;
  bottom: 35px;
  color: #fff;
  margin-right: 35px;
}

.slider__block-content {
  padding: 23px 19px;
}

.slider__block-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.slider__block-text {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
}

.slider__img {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 5;
  font-size: 0;
  background: none;
  border: none;
  width: 36px;
  height: 52px;
  outline: none;
  cursor: pointer;
}

.slick-next {
  background-image: url(../images/arrows/next.png);
  right: 25px;
}

.slick-prev {
  background-image: url(../images/arrows/prev.png);
  left: 25px;
}

.slider__nav .slick-track {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.slider__nav .slick-slide {
  max-width: 140px;
  outline: none;
}

.slider__nav .slick-slide+.slick-slide {
  margin-left: 20px;
}

.slider__img-icon {
  overflow: hidden;
  cursor: pointer;
}

/* ======================BLOG===================== */

.blog {
  margin: 45px auto;
}

.blog__content {
  display: flex;
  justify-content: space-between;
}

.blog__block {
  max-width: 300px;
  padding-right: 24px;
}

.blog__block-title {
  padding-left: 70px;
  color: #e8663c;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 35px;
  position: relative;
}

.blog__icon {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
}

.blog__block-text {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .1px;
  margin-bottom: 20px;
  color: #414141;
}

.blog__block-link {
  display: inline-block;
  width: 56px;
  height: 31px;
  text-align: center;
  font-size: 12px;
  line-height: 31px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #e8663c;
  transition: all .3s linear;
}

.blog__block-link:hover {
  color: #e8663c;
  background-color: #fff;
  border: 1px solid #e8663c;
}

/* ======================PORTFOLIO===================== */

.portfolio__main {
  margin-bottom: 50px;
}

.portfolio__title {
  background-image: url(../images/portfolio/line.png);
  color: #e8663c;
  position: relative;
  margin-bottom: 25px;
}

.portfolio__title span {
  display: inline-block;
  background-color: #fff;
  padding-right: 25px;
}

.portfolio__content {
  display: flex;
  justify-content: space-between;
}

.portfolio__content-block {
  display: block;
}

.portfolio__img {
  height: 184px;
}

.portfolio__desc {
  padding: 15px;
  border: 1px solid #dbdbdb;
  border-top: none;
}

.portfolio__desk-title {
  color: #b9b9b9;
  line-height: 18px;
  margin-bottom: 5px;
  transition: all .3s linear;
}

.portfolio__content-block:hover .portfolio__desk-title {
  color: #e8663c;
}

.portfolio__desk-data {
  color: #e8663c;
  font-size: 11px;
  line-height: 18px;
}

/* ======================FOOTER===================== */

.contact__main {
  background-color: #e8663c;
  padding: 33px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.contact__main a {
  color: #f3b29d;
  transition: all .3s linear;
}

.contact__main a:hover {
  opacity: .3;
}

.contact__block-about {
  max-width: 270px;
  margin-right: 50px;
}

.contact__title {
  font-size: 20px;
  margin-bottom: 25px;
}

.contact__text {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.contact__text:last-child {
  margin-bottom: 0;
}

.contact__block-twitter {
  max-width: 230px;
  margin-right: 50px;
}

.comment {
  margin-bottom: 5px;
}

.contact__block-cont {
  max-width: 260px;
}

.contact__block-cont .contact__text a{
  color: #fff;
}

.contact__social li {
  display: inline-block;
}

.contact__social li+li {
  margin-left: 5px;
}

.contact {
  position: relative;
}

.contact:before,
.contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(50% - 480px);
  height: 100%;
  background-color: #f2ae9c;
}

.contact:before {
  left: 0;
}

.contact:after {
  right: 0;
}






